
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #EDDCCF;
}
.header {
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  padding: 10px 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #4B301B;
  color:#EDDCCF;
}
.menu-toggle{
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #4B301B;
  color: #EDDCCF;
  padding: 10px;
  cursor: pointer;
  
  }

nav {
  column-span: 1;
  position: fixed;
  top: 100px;
  background-color: #4B301B;
  left: 0;
  height: 88vh;
  transition: all 0.3s;
}
nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  font-size: var(--links);
}
nav a:hover {
  opacity: 60%;
}
main {
  grid-column: 2/-1;
  padding: 20px;
  flex: 1;
  margin: 40px 0;
  min-height: 100vh;
}
.logo{
  width:100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
  margin-top: 20px;

  margin-bottom:10px;
 
}
.tinyLogo{
  width:50px;
  height:50px;
  border-radius:50%;
  right:30px; 
  z-index: 10;
}
.footerFlex{
  display:flex;
  justify-content:center;
  background-color:#4B301B;
  padding-bottom:0px;
  width:inherit;
  margin-top: 0px;
  margin-bottom:0px;
  padding-bottom:0px;
  gap: 10px;
  padding: 10px;
  align-items: center;
  grid-column: 1/ -1;
  position:sticky;
}
.footerFlex p{
  color:#EDDCCF;
  margin: auto 30px;
}
footer p{
  margin-bottom:auto;
  padding-bottom:0px; 
  padding-left:0px;}

.mainProfile{
    display:flex;
    justify-content:right;
    width:200px;
    height:200px;
    border-radius:50%;
    margin-right:50px;
    margin-top:-40px;
  }
.mainFlex{
  display:flex;
  justify-content:space-between;
  margin-top:60px;
  margin-left:30px;
}
.mainFlex2{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-top:60px;
  margin-left:30px;
}
.mainFlex2 p{
  margin:30px;
  font-size: 15px;
}
.techImages{
  width:200px;
  height:200px;
}
.fullImage{
  width:300px;
  height: auto;
  margin:auto 50px auto;
}

.Sunsets{
  width:200px;
  height:300px;
}
.SunsetFlex{
  display:flex;
  align-content: space-between;
  align-items: center;
  gap:20px;
}
figcaption{
  font-size: 10px;
}
.InstitutionPic{
  width:200px;
  height:200px;
  margin-left:150px;
}
.contactUs{
  width:200px;
  height:200px;
}
.contactIcon{
  display:flex;
  justify-content:space-between;
}
.contactIcon a{
  color:#000;
  font-weight: 800;
  margin-bottom: 0px;
  padding-bottom:0px;

  }
.contactIcon img{
  width:30px;
  height:30px;
}
.contact-link{
  display:flex;
  justify-content:space-around;
  align-items: center;
  gap:10px;
}
@media (max-width: 768px) {
  h1{ font-size:30px;
  padding-left:50px; }
  main{
    margin:30px;
    padding:0px;
    padding-right:20px;
  }
  .header{
    padding-right:0px;
  }
  .logo{
    padding-right:0px;
  }
  .tinyLogo{
    margin-right:10px;}
    .mainProfile{
      width: 150px;
      height:150px;
    }
  
  body{
    margin:0px;
    padding:0px;
  }
  body p{
    font-size: 13px;
  }
  .techImages{
    width:120px;
    height:120px;
  }
  video{
    width:250px;
    height: 200px;
    margin-bottom:30px;
  }
  .Sunsets{
    width:150px;
    height:200px;
  }
  .fullImage{
    width:250px;
    height:auto ;
    margin-top:40px;
    margin-left:0px;
    margin-bottom: 30px;
  }
  .InstitutionPic{
    margin:30px;
    margin-left: 20px;
    width:120px;
    height:120px;
  }
  .contact-link{
    margin-left:0px;
    padding-left:0px;
    margin-top:20px;
    display:flex;
    gap:0px;
  }
  .contactUs{
    margin-left:50px;
  }
  .contactIcon{
   display:grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-template-rows: repeat(2, 1fr);
   gap:0px;
   margin-top:20px;
  }
  .contact-link{
    margin:0px;
    padding:0px;
  }
  .icon{
    margin:0px;
    padding:0px;
  }
  .main-home{
    margin:0px;
  }
  .mainFlex2 p{
  font-size: 15px;
  } 
   .nav {
      display:none;
      flex-direction: column;
      align-items: center;
      background: #333;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 1rem 0;
  }
  .nav active {
      display:flex;
  }
  .quote p{
    font-size: 30px;
  }
  .menu-toggle {
      display: block;
      background: #4B301B;
      color: white;
      border: none;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
  }
}
@media (min-width: 768px) {
 nav{
  display: flex;
  flex-direction: row;

  
 }
  .nav_links{
    width:100vw;
    height:80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: flex-start;
    list-style-type: none;
    position:fixed;
    margin: 0;
    padding: 0;
    padding-top:20px;
    background-color:#DAB69A; 
    font-size: large;
    color:black; }
    .nav_links li a{
      color:#000;
      padding:25px;
    }
 .menu-toggle{
  display:none;
 }
 .header{
  padding-right:0px;
}
 body{
  margin:0px;
  padding:0px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
h1{
  font-size:30px;
  padding-left:80px;
  padding-top:30px;
  font-family: "inika",sans-serif;
  color: white;
}
main h1{
  color:black;
}
main{
  margin:0px;
  padding:50px;
  padding-top:100px;
}
.mainProfile{
  width:250px;
  height:250px;
}
body p{
  font-size: 20px;
  margin:0px;
  padding:0px;
}
 .mainFlex2 p{
  font-size: 20px;
  }
  .about-me{
    display:flex;
  }
  .fullImage{
    width:350px;
    height:auto ;
    margin-top:50px;
    margin-left:0px;
    margin-bottom: 30px;
  }
  .InstitutionPic{
    margin:30px;
    margin-left: 20px;
    width:200px;
    height:200px;
  }
  video{
    margin-bottom:20px;
  }
  .contactIcon{
    margin-top:100px;
    margin-right: 250px;

  }
  .contactIcon a{
    font-size: medium;
  }
  .contactUs{
    margin-left:240px;
    margin-bottom:0px;
  }
  .hobbies{
    display:flex;
  }

}

